@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .custom-scrollbar-x::-webkit-scrollbar {
    height: 4px;
    display: block;
  }
  .custom-scrollbar-x::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar-x::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .dark .custom-scrollbar-x::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
}